---
import Layout from "../../layouts/Layout.astro";
import { LOCALES } from "../../misc/i18n/locales";
import { getRouteLangParam, useTranslations } from "../../misc/i18n/utils";
import { getAnimatics, getArtworks } from "../../misc/sanity/dataLoaders";

export function getStaticPaths() {
	return Object.keys(LOCALES)
				 .map(lang => ({
					params: { lang: getRouteLangParam(lang) },
					props: { currentLang: lang }
				 }));
}

interface Props {
	currentLang: keyof typeof LOCALES
}

const { currentLang } = Astro.props;

const translate = useTranslations(currentLang);

const artworks = await getArtworks(currentLang), 
    animatics = await getAnimatics(currentLang);

const artworkImageBaseLink = 'https://res.cloudinary.com/oldkamelle/image/upload/w_400',
    animaticImageBaseLink = 'https://res.cloudinary.com/oldkamelle/image/upload/w_400/q_auto:eco';
---

<Layout currentLang={currentLang}>
    <main>
        <section id="artworks">
            {artworks.map(work => (
                <a class="spotlight" data-title={work.title} href={`https://res.cloudinary.com/oldkamelle/image/upload/q_auto:good/${work.urlId}.jpg`}>
                    <picture>
                        <source srcset={`${artworkImageBaseLink}/${work.urlId}.avif`} type="image/avif" />
                        <source srcset={`${artworkImageBaseLink}/${work.urlId}.webp`} type="image/webp" />
                        <img src={`${artworkImageBaseLink}/${work.urlId}`} alt={work.alt} loading="lazy" />
                    </picture>
                </a>
            ))}
        </section>

        <section id="animatics">
            {animatics.map(animatic => (
                <article>
                    <a href={animatic.url}>
                        <figure>
                            <picture>
                                <source srcset={`${animaticImageBaseLink}/${animatic.previewPicUrlId}.avif`} type="image/avif" />
                                <source srcset={`${animaticImageBaseLink}/${animatic.previewPicUrlId}.webp`} type="image/webp" />
                                <img src={`${animaticImageBaseLink}/${animatic.previewPicUrlId}.gif`} alt={animatic.previewPicAlt} loading="lazy" />
                            </picture>
                            <figcaption>{animatic.title}</figcaption>
                        </figure>
                    </a>
                </article>
            ))}
        </section>
    </main>

    <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"></script>
</Layout>

<style>
    #artworks {
        columns: 5;
        gap: 0.4em;

        img {
            display: block;
            margin-bottom: 0.4em;

			height: 100%;
            min-height: 10em;
            width: 100%;

            object-fit: cover;
        }
    }

    #animatics {
        margin: 4em 2em;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
        column-gap: 1em;

        figure {
            margin: 1em;
            height: 12em;
            width: 20em;

            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;

                border-top-left-radius: 1em;
                border-top-right-radius: 1em;
            }

            figcaption {
                text-align: center;
                padding: 0.5em;
            }
        }
    }

    @media (max-width: 1300px) {
        #artworks {
            columns: 4;
        }
    }

    @media (max-width: 750px) {
        #artworks {
            columns: 2;
        }
    }
</style>
