---
import Image from "astro/components/Image.astro";
import type { CollectionEntry } from "astro:content";
import type { LOCALES } from "../misc/i18n/locales";

interface Props {
    currentLang: keyof typeof LOCALES,
    product: CollectionEntry<'goods'>
}

const { currentLang, product } = Astro.props;
---

<article>
    <figure>
        <Image src={product.data.previewImg.img} alt={product.data.previewImg.alt[currentLang]}/>
        <figcaption>
            <a href={product.data.productLink} download>
                <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round" >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                    <path d="M7 11l5 5l5 -5" />
                    <path d="M12 4l0 12" />
                </svg>

                {product.data.title[currentLang]}
            </a>
            <p>{product.data.description[currentLang]}</p>
        </figcaption>
    </figure>
</article>

<style>
    figure {
        display: inline-block;
        width: 18em;
        height: 18em;

        margin: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;

            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
        }

        figcaption {
            margin-top: 0.3em;
            
            a {
                display: flex;
                align-items: center;
                gap: 0.5em;
                
                padding: 0.5em 1em;
                
                background-color: var(--text-color);
                color: var(--bg-color);
                
                text-align: center;
                text-decoration: none;
            }
        }
    }
</style>